/* TODO: 
 * get rid of 1 px border on bottom of header (lowest screen size) 
 * try resizing profile picture on mobile
 * color accents on blog category headings (about page)
 * "to top" link on small screens
 * tables in posts
 * images in posts...
 * 
 */

body {
	font-family: Segoe UI, Optima, Tahoma, Arial, Verdana, sans-serif;
	font-size: 1.15em;
	margin: 0px;
}
ul, li {
	margin: 0;
	padding: 0
}
a {
	text-decoration: none;
	color: #1ba0e1;
}

.post
a:hover {
	text-decoration: underline;
}

a:focus {
	text-decoration: underline;
	outline: none;
}

a:active {
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	font-family: Segoe UI Light, Optima, Tahoma, Arial, Verdana, sans-serif;
	font-weight: bold;
}
code, blockquote {
	display: block;
	border-left: 5px solid #1ba0e1;
	padding-left: 20px;
}
blockquote {
	margin: 10px 0px 10px 0px;
	font-size: 1.1em;
	font-style: italic;
	color: #888888;
}
.quote-source:before {
	content: "-";
}
.quote-source {
	display: block;
	text-align: left;
	font-style: normal;
	color: #222222;
	margin-left: 20px;
	border-left: none;
	line-height: 1;
}

.post ul li {
	list-style:none;
	padding: 5px;
	margin-left: 10px;
}
.post ul li:before {
	content:"-";
	margin-right: 10px;
	padding-left: 0px;
}

table {
	border-collapse: collapse;
}


hr {
	border: 0;
	height: 1px;
	background-color: #c3c3c3;
	width: 100%;
	margin: 10px 0px 10px 0px;
}

.label-large{
	font-size: 1.4em;
	padding-right: 10px;	
}
.input-large{
	font-size: 1.2em;
	padding: 5px;
}
.label-med{
	font-size: 1.2em;
	padding-right: 10px;	
}
.input-med{
	font-size: 1.0em;
	padding: 5px;
	margin-bottom: 10px;
}

.button {
	font-size: 1.2em;
	color: #fff;
	background: #1ba0e1;
	border: 3px solid #1ba0e1;
	padding: 3px 10px;
}

.button:hover {
	background: #3cafe8;
	border-color: #3cafe8;
		
}
.button:active {
	background: #3cafe8;
	border-color: #3cafe8;
	color: #1ba0e1;
	background: #fff;
		
}
.control {
	margin-top: 20px;
	
}

#header {
	text-decoration: none !important;
	position: fixed;
	left: 0;
	right: auto;
	top: 0;
	bottom: 0;
	width: 290px;
	z-index: 0;
	height: 100%;
	cursor: default;
	border-right: 1px solid #c3c3c3;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZjNmM2YzIiBzdG9wLW9wYWNpdHk9IjAuMDEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  rgba(243,243,243,0) 0%, rgba(243,243,243,0.01) 1%, rgba(243,243,243,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(243,243,243,0)), color-stop(1%,rgba(243,243,243,0.01)), color-stop(100%,rgba(243,243,243,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(243,243,243,0) 0%,rgba(243,243,243,0.01) 1%,rgba(243,243,243,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(243,243,243,0) 0%,rgba(243,243,243,0.01) 1%,rgba(243,243,243,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(243,243,243,0) 0%,rgba(243,243,243,0.01) 1%,rgba(243,243,243,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(243,243,243,0) 0%,rgba(243,243,243,0.01) 1%,rgba(243,243,243,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f3f3f3', endColorstr='#f3f3f3',GradientType=1 ); /* IE6-8 */
}
#header .contact {
	position: relative;
	left: 35px;
}
.blog-title {
	font-family: Segoe UI Light, Optima, Tahoma, Arial, Verdana, sans-serif;
	font-weight: lighter;
	text-decoration: none;
	border-bottom: none;
	letter-spacing: 5px;
}
.blog-title #w1 {
	position: relative;
	left: 27px;
	top: 30px;
	font-size: 72px;
	color: black !important;
}
.blog-title #w2 {
	position: relative;
	font-size: 52px;
	left: 49px;
	top: 10px;
	color: black !important;
}
#description-p {
	color: #666666;
	text-align: justify;
	margin: 30px 32px 40px 32px;
	font-size: 1.1em;
	letter-spacing: 1px;
}
#menu {
	position: relative;
	list-style: none;
	font-size: 32px;
	font-family: Segoe UI Light, Optima, Tahoma, Arial, Verdana, sans-serif;
	left: 0px;
	width: 100%;
	/*  background: #bbb;*/
	padding: 0px;
}
#menu li {
	padding: 5px 0px;
	width: 40px;
	border-right-width: 1px;
	border-right-style: solid;
}
#menu .active {
	width: 100%;
}
#menu #about {
	background: #1ba0e1;
	border-color: #1ba0e1;
}
#menu #blog {
	background: #7b3a3e;
	border-color: #7b3a3e;
}
#menu #projects {
	background: #60aa17;
	border-color: #60aa17;
}
#menu .active a {
	color: #fff;
}
#menu li a {
	color: #7f7f7f;
	text-decoration: none;
	padding-left: 12px;
	margin-left: 60px;
}
#menu .active a :hover {
	color: #fff;
	cursor: default;
}
#menu li a :hover {
	color: #111111;
}
#main {
	position: relative;
	display: block;
	min-width: 700px;
	z-index: 1;
	top: 0;
	margin: 0 0 0 290px;
}

.categories ul {
	list-style-type: none;
	margin: 0;
	margin-top: 3px;
	padding: 0 0 5px 0;
}
.categories ul li {
	display: inline;
	font-size: 1.3em;
	font-family: Segoe UI Light, Optima, Tahoma, Arial, Verdana, sans-serif;
}
.categories ul li span {
	padding: 3px 18px 5px 18px;
	border-top-style: solid;
	border-top-width: 4px;
}
.categories ul li .active a {
	color: #fff;
	cursor: default;
}
.categories ul li .active a:hover {
	text-decoration: none;
	color: #fff;
}
.categories ul li span a {
	color: #555;
}

.categories ul li span a:hover {
	color: #111;
	text-decoration: underline;
}
.categories ul li span a:active {
	background: none;
	text-decoration: underline;
}

.categories #a span {
	border-color: #7b3a3e;
}
.categories #a .active {
	background: #7b3a3e;
}
.categories #b span {
	border-color: #96474b;
}
.categories #b .active {
	background: #96474b;
}
.categories #c span {
	border-color: #af555a;
}
.categories #c .active {
	background: #af555a;
}
.categories #d span {
	border-color: #bb6f74;
}
.categories #d .active {
	background: #bb6f74;
}
.categories {
	width: 100%;
	border-top: 4px solid #c88a8e;
}

.post {
	margin-top: 20px;
	padding: 10px 50px 10px 50px;
	min-width: 620px;
	width: auto;
}
.post .header .description {
	margin: 5px 0px 0px 0px;
}
.post .title {
	font-weight: lighter;
	font-size: 2.5em;
	font-family: Segoe UI Light, Optima, Tahoma, Arial, Verdana, sans-serif;
	margin: 0 0 20px 0;
	color: black;
	text-decoration: none;
	border-bottom: none;
}
.post .title:hover {
	color: #1ba0e1;
	cursor: pointer;
	text-decoration: none;
}
.subtitle {
	text-decoration: none;
	border-bottom: none;
	font-size: 1.5em;
	color: black;
	font-family: Segoe UI, Optima, Tahoma, Arial, Verdana, sans-serif;
}
.post .subtitle:hover {
	text-decoration: none;
	color: #1ba0e1;
}
.post-date {
	cursor: default;
	font-variant: small-caps;
	display: inline;
	font-size: 1.1em;
	font-weight: lighter;
	color: #5e5e5e;
	float: right;
	padding-top: 5px;
}
.post-folder {
	font-size: 1.1em;
	margin-left: 20px;
}
.post-folder a {
	text-decoration: none;
}
.post-folder a :hover {
	color: #88acdb;
}
.post-folder a :before {
	content: "Posted in ";
}
.post-folder p {
	width: auto;
	color: #222222;
	line-height: 32px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.fr {
	float: right;
	margin: 10px;
}
.fl {
	float: left;
	margin: 10px;
}
.post .img img {
	margin: 30px 0px 0px 30px;
}
.post .img div {
	color: #999999;
	margin: 0px;
	font-size: 0.9em;
	text-align: center;
}

/*Project*/

.project {
	margin-top: 15px;
	clear:both;
}
.project img {
	width: 140px;
	margin-right: 20px;
	float: left;
	display:inline;
}

.project .title {
	font-size: 1.5em;
	margin-bottom: 5px;
}

.project .description {
	display: inline;
}
.project .links {
	margin: 5px 0px 0px 10px;
}
.project .links a {
	margin-right: 15px;
	font-size: 0.9em;
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.fb-like {
	display: inline;
	position: relative;
	top: -5px;
	left: -5px;
}
@media only screen and (max-width: 1024px) {
	body {
		font-size: 1.2em;
	}
	#header {
		position: static;
		width: 100%;
		border-right: none;
		border-bottom: 1px solid #c3c3c3;
		height: 162px;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(247,247,247,0) 0%, rgba(246,246,246,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,0)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(247,247,247,0) 0%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(247,247,247,0) 0%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(247,247,247,0) 0%,rgba(246,246,246,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(247,247,247,0) 0%,rgba(246,246,246,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f7f7f7', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-8 */
	}
	#w1 {
		top: 10px !important;
	}
	#w2 {
		font-size: 72px !important;
		left: 38px !important;
	}
	#description {
		position: relative;
		top: -20px;
	}
	#description-p {
		font-size: 20px;
	}
	#header .head-outer {
		display: inline;
		float: left;
		height: 162px;
	}
	#menu {
		float: right;
		display: inline;
		width: 220px;
		height: 100%;
	}
	#menu li {
		border-right-width: 0px;
		padding: 0;
		height: 33%;
	}
	#menu #about {
		height: 34%;
	}
	#menu #projects {
		/*1 px gray border is bad... */
		border-bottom: 1px solid #60aa17;
	}
	#main {
		position: static;
		margin-left: 0px;
		border-left: none;
		min-width: 0;
		min-height: 0;
		width: auto;
		padding-right: 0;
	}

	.block {
		float: none !important;
		display: block;
	}
	.post {
		width: auto;
		min-width: 0;
	}
	.post p {
		width: auto;
		line-height: 1.6;
	}
	.nav-buttons {
		display: none;
	}
}
@media only screen and (max-width: 768px) {
	body {
		font-size: 1.2em;
	}
	#header {
		width: auto;
		height: auto;
	}
	#header .head-outer {
		display: block;
		float: none;
		height: auto;
	}
	#w1 {
		position: static !important;
		display: inline !important;
		font-size: 40px !important;
		margin-left: 20px;
	}
	#w2 {
		position: static !important;
		display: inline !important;
		font-size: 40px !important;
	}
	#description {
		position: static;
		display: block;
		margin-left: 50px;
	}
	#description-p {
		margin: 0;
		padding: 0;
	}
	#menu {
		float: none;
		font-size: 40px;
		margin: 0;
		padding: 20px 0px 0px 0px;
		position: static;
		display: block;
		width: 100%;
	}
	#menu li {
		height: auto;
		padding: 5px 0;
	}
	#menu #about {
		height: auto;
	}
	.post {
		padding: 5px;
	}
	.post-date {
		display: block;
		float: none;
		padding-left: 20px;
		margin: 0;
	}
	.post .title {
		font-size: 34px;
	}
	.post .img {
		margin: 0px;
		padding: 0px;
	}
	.post .img img {
		margin: 10px;
		max-width: 270px;
		max-height: 270px;
	}
	.post p {
		text-align: justify;
		width: auto;
		line-height: 1.5;
	}
	.project img {
		float: right;
		margin-right: 10px;
	}
	#main {
		padding: 0px;
	}
}
@media only screen and (max-width: 600px) {
	
	
	.categories {
		width: 100%;
		border-top: 1px solid #C3C3C3;
		font-size: 1.3em;
	}
	.categories ul {
		width: 100%;
		margin: 0px;
		margin-top: -1px;
	}
	.categories ul li {
		width: 15px;
		padding: 5px 0px;
		display: block;
	}
	.categories ul li span {
		margin-left: 20px;
		padding: 0;
		border: none;
		background: none !important;
	}
	.categories .active {
		width: 100%;
	}

	.categories #a {
		background: #7b3a3e;
	}

	.categories #b {
		background: #96474b;
	}
	
	.categories #c {
		background: #af555a;
	}

	.categories #d {
		background: #bb6f74;
	}

}
